node_modules/**
package.json
yarn.lock
ios/**
android/**
assets/**
.vscode
.expo
.prettirrc
.eslintrc
tsconfig.json
metro.config.js
coverage/
dist/
web-build/
src/assets/**
*.json
*.md
*.d.ts
.github
.husky
LICENSE
server/**